:root{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --main: #0ea5e9;
    --secondary: #155e75;
    --background: #f0f9ff;

}

body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    background-color: var(--background);
  }

.container {
    text-align: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    gap: 3px;
  }

.container div {
    padding: 15px;
    border-radius: 15px;
}

/* Header */

div.header{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
    margin-left: 10px;
    padding: 0px;
}

div.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-bottom: 0px;
}

div.bottom-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-top: 0px;
}

.bottom-left{
    display: flex;
}

.top-right{
    display: flex;
}

.btn{
    width: 85px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: var(--main);
}

.btn:hover{
    color: white;
}

input#searchresult.search-input{
    width: 40vw;
    background-color: var(--background);
    border-radius: 15px;
    border: var(--main) 1px solid;
    height: 20px;
}

.magnify-icon{
    width: 20px;
}

form{
    display: flex;
}

.profile-head{
    width: 50px;
}

div.greeting-head{
    font-size: 11px;
    padding-bottom: 0px;
    text-align: left;
}

div.greeting-text{
    font-size: 20px;
    padding-top: 0px;
}

.nav-list li:hover {
    background-color: var(--main);
    color: black;
  }
  

.settings-list li:hover{
    background-color: var(--main);
    color: black;
}

/* Sidebar */

.sidebar{
    background-color: var(--main);
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: auto auto 1fr;
    color: white;
    font-size: 20px;

}

.nav-heading{
    font-size: 25px;
    display: flex;
    align-items: center;
}

.dash-image{
    width: 30px;
    padding-right: 5px;
    filter: invert(100%);
}

.icon{
    width: 20px;
    margin-right: 10px;
    filter: invert(100%);
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

li{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Main */

.main{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    text-align: left;
    
}

.project-display{  
    grid-row: 1 /3;
}

.project-text{
    font-size: 12px;
}

.project-heading{
    font-weight: bold;
}

.projects-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.project{
    background-color: white;
    margin: 10px;
    border-left: var(--main) 4px solid;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
}

.trending-container,
.announcements-container{
    grid-column: 2 / 3;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
}

.announcements-element,
.trending-element{
    background-color: white;
    border: var(--main) 1px solid;
    box-shadow: 0px 2px 3px rgb(175, 175, 175);
}

div.announcements-heading,
div.project-heading{
    font-weight: bold;
    padding-bottom: 0px;
}

div.announcements-text,
div.project-text{
    padding-top: 0px;
}

.profile{
    width: 30px;
}

div.trending-element{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

div.trending-container{
    font-size: 11px;
    padding: 0px;
}

hr {
    margin: 15px 0 15px 0;
}

h3{
    text-align: left;
}

div.trending-text{
    padding-top: 0px;
}

div.trending-user{
    padding-bottom: 0px;
    font-weight: bold;
}

div.trending-left{
    padding-right: 0;
}



